:root {
    --primary-color: #005F73;
    --secondary-color: #0A9396;
    --accent1-color: #94D2BD;
    --accent2-color: #ffffff;
    --accent2-fade-color: #ffffffbc;

    --heading-font: "Anton", sans-serif;
    --body-font: 'Open Sans', sans-serif;;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;

}

header {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-column: span;
}

nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--primary-color);
    align-content: end;
}

nav a{
    display: flex;
    padding: 20px;
    flex: 1 1 auto;
    color: var(--accent2-color);
    text-align: end;
}

.hero {
    position: relative;
}

.hero h1{
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent2-fade-color);
    padding: 1rem;
    color: var(--primary-color);
}

.hero> img {
    width: 100%;
}

.hero article {
    background-color: var(--accent2-fade-color);
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}

.hero article img {
    float: right;
    margin: 2rem;
    width: 12rem;
}

.hero article p {
    padding: 1rem;
    color: var(--primary-color);
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px 1px; 
    text-align: center;
  }
  
  .adventure h2 {
    grid-column: span 5;
    grid-row: 1;
    text-align: center;
  }
  
  .adventure figure {
    grid-row: 2;
  }

  .adventure img {
    width: 200px;
  }

footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    padding: 2rem;
    grid-template-columns: 2fr 1fr 1fr;
}

.social {
    grid-column: 3;
}

.social img {
    width: 2.5em;
}
