
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: darkblue;
    --text-color: white;
    --border-color: black;
    --text-center: center;
    --height-auto: auto;
    --padding-10: 10px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--main-color);
    padding: var(--padding-10);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}

h1 {
    color: var(--main-color);
    padding: 1rem;
    border-bottom: 1px solid #000;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    position: relative;
    width: 20rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    text-align: var(--text-center);
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: var(--height-auto);
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 90px;
}

main img {
    width: 150px;
    height: var(--height-auto);
    float: right;
    padding: 2px;
    margin: 20px;
    box-shadow: 0 0 30px gray;
    border: 1px solid steelblue;
}

p { 
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: var(--text-center);
}

/* Class selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}


